.idea
uasal-acronyms.md
compile-acronyms.pdf


# Latex residue files
*.acn
*.acr
*.alg
*.aux
*.fdb_latexmk
*.glg
*.glo
*.gls
*.ist
*.log
*.out
*.term-glg
*.term-glo
*.term-gls
*.toc
*.fls
*.synctex(busy)
*.synctex.gz